.description, .newSearchButton, .searchButtonTwo, .clearFilters, .sexOfPet, .nextButton, .previous, .breedOfPet, .sizeOfPet, .ageOfPet {
  display: none;
}
.animal {
  margin-top: 10px;
  border-bottom: solid 0.5px rgba(0, 0, 0, 0.2);
}
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.8);
  display: none;
  justify-content: center;
  align-items: center;
}
.wrapper {
  background: white;
  width: 80vw;
  height: 80vh;
  padding: 10px;
  border-radius: 10px;
  overflow: scroll;
}
.container {
  position: absolute;
  top: 13%;
}
h1 {
  font-family: 'IBM Plex Mono', monospace;
  font-size: 22px;
  display: block;
  text-align: center;
}
body {
  margin: 0;
  background: rgba(126, 170, 112, 0.2);
}
h3, .searchCriteria {
  font-family: 'IBM Plex Mono', monospace;
  font-size: 15px;
  text-align: center;
}
.searchButton {
  font-family: 'IBM Plex Mono', monospace;
  margin: 20px;
}
img {
  height: 200px;
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  object-fit: cover;
}
.searchCriteria {
  border-radius: 10px;
  background: rgb(183, 233, 188);
  padding: 10px;
}
